.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	border-radius: var(--br);
	height: 200px;
	padding: 30px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	align-self: normal;
	gap: 10px;
}

.title {
	font-size: 28px;
	text-decoration: none;
	font-weight: bold;
	color: var(--black);
	margin-bottom: 10px;
}

.subtitle {
	font-size: 18px;
	color: var(--grey);
	font-weight: lighter;
}

.price {
	margin-top: 10px;
	font-size: 28px;
}
