.root {
	background-color: var(--bgc);
}

.wrapper {
	margin: 0 auto;
	width: 1440px;
	padding: 30px;
	background-color: var(--bgc);
	display: flex;
	justify-content: space-between;
}

.left_block {
	width: 35%;
}

.right_block {
	width: calc(65% - 30px);
}
